<div id="<%= dom_id poll %>">
  <h1 class="my-5 text-3xl text-center">
    <%= poll.text %>
  </h1>

  <div class="my-5 flex flex-col gap-3">
    <ul>
    <% poll.choices.each do |choice| %>
      <li class="py-4 ">
        <%= render ButtonComponent.new(href: poll_choice_votes_path(poll, choice), type: :button, full: true) do %>
          <%= choice.text %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
